//Citrus Citrus.scss starter
@import 'variables.scss';

$font-link-followed:rgba(255, 255, 255, 0.2);
$font-link-focus:rgba(255, 255, 255, 0.4);

$minmargin: 0;
$minpadding:0;
$floatmargin:0 auto;

$font-small: 14px;
$font-medium: 18px;
$font-large:20px;
$font-super:36px;

article, aside, footer, header, nav, section, body{
    margin: $minmargin;
    padding: $minpadding;
}
#container{
    max-width: $mostCol;
    margin: $floatmargin;
}
header{ 
    background-color: $secondary-color;
    h1{
        text-align: center;
        color: $lighttext-color;
        margin-bottom: 20px;
        margin-top: 20px;
        clear:both;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    img{
        width:70%;
        margin-left: auto;
        margin-right: auto;
        margin: 10px 15% 10px 15%;
    }
}
aside{
    float: left;
    text-align: center;
    width: 30%;
    border-bottom: 10px;
    padding-right: 20px;
    margin-left: 10px;
    margin-top: 10px;
    img{
        float: left;
        width: 100%;
        padding-bottom: 10px;
    }
    ul{
        list-style-type: none;
        background-color: $nav-background-color;
        padding-right:25px;
    }
    a{
        color: $nav-font-color;
        text-decoration: none;
        font-size: $font-medium;
    }
}
//mixin
@mixin navMenu{
    background-color: $nav-background-color;
    height: fit-content;
    margin-top: -20px;
    ul{
        list-style: none;
        font-weight: bold;
        font-size: $font-large;
        clear: both;
        height:auto;
        list-style-type: none; /*https://getcssscan.com/blog/how-to-remove-bullets-from-li-css*/

    }
    li{
        height: 30px;
        float:center;
        margin-top:6px;
        margin-bottom:5px;
        width: auto;
       
    }
    a{
        
        text-align: center;
        color: $nav-font-color;
        text-decoration:none;

    
    &:hover, &:active, &:focus{
        background-color: $font-link-focus;
        margin-top: -10px;
      }
    //&:link, &:visited{
    ///    background-color: $font-link-followed;
     //   }
    }
}


nav{
    @include navMenu();
}

footer{
    clear:both;
    padding: 20px;
    background-color: $nav-background-color;
    color: $nav-font-color;
    text-align: center;
    p{
        margin:0 0 5px 0;
    }
}


//watch the compile live



